* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  margin: 0;
}

body {
  background-image: url(../media/img/fondo.jpg);
  background-size: cover;
}
body .vinculo {
  text-decoration: none;
  color: #ffffff;
}
body .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .grid {
  display: grid;
  grid-template-columns: repeat(3, 33, 33%);
  grid-template-rows: 50px 100px 320px 400px 400px;
  grid-template-areas: "navbar navbar navbar" "head-logo empty head-botones" "banner banner banner" "bprecios nada sprecios" "pie pie pie";
}
body .head-logo {
  grid-area: head-logo;
  padding-left: 10px;
  padding-top: 5px;
}
body .head-botones {
  grid-area: head-botones;
  display: flex;
  justify-content: right;
  padding-top: 5px;
}
body .banner {
  grid-area: banner;
  background-image: url(../media/img/banner.jpg);
  width: 100%;
  height: 300px;
  background-position: 0;
  background-size: cover;
}
body .seccion2 {
  grid-area: bprecios;
  padding-left: 220px;
}
body .seccion2 .cartas {
  transform: 2s;
}
body .seccion2 .cartas:hover {
  transform: scale(1.7);
}
body .seccion3 {
  grid-area: sprecios;
  padding-left: 80px;
}
body .seccion3 .cartas {
  transform: 2s;
}
body .seccion3 .cartas:hover {
  transform: scale(1.7);
}
body .btn {
  font-family: "calibri";
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  width: 160px;
  height: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body .btn:hover {
  transform: scale(1.1);
}
body .btn-header {
  background-color: rgba(0, 0, 0, 0.849);
}
body .btn-header:hover {
  background-color: #5d0f0f;
}
body .logo-head-2 {
  text-align: center;
  margin-top: 70px;
  margin-right: 20px;
}
body .titulo-Contacto {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "calibri";
  color: #5d0f0f;
}
body .caja-de-contacto {
  width: 800px;
  background: rgba(0, 0, 0, 0.849);
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "calibri";
  color: #afa384;
  box-shadow: 7px 13px 37px #5d0f0f;
}
body .texto-de-contacto p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-family: "calibri";
  font-weight: bold;
}
body .texto-de-contacto a {
  color: #afa384;
  text-decoration: none;
}
body .texto-de-contacto a:hover {
  color: #afa384;
  text-decoration: underline;
}
body .controles {
  width: 100%;
  background: #5d0f0f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #afa384;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}
body .caja-de-contacto .btn {
  width: 100%;
  background: #5d0f0f;
  border: 1px solid #afa384;
  padding: 12px;
  color: #afa384;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}
body .contenido-de-contacto .contenido-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .contenido-de-contacto .contenido-2 {
  width: 100%;
  text-align: center;
}
body ::placeholder {
  color: #afa384;
}
body .caja-de-registro {
  width: 400px;
  background: rgba(0, 0, 0, 0.849);
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "calibri";
  color: #afa384;
  box-shadow: 7px 13px 37px #5d0f0f;
}
body .titulo-registro {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "calibri";
  color: #5d0f0f;
}
body .controles {
  width: 100%;
  background: #5d0f0f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #afa384;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}
body .caja-de-registro .btn {
  width: 100%;
  background: #5d0f0f;
  border: 1px solid #afa384;
  padding: 12px;
  color: #afa384;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}
body .caja-de-registro p {
  height: 15px;
  text-align: center;
  font-size: 18px;
}
body .caja-de-registro a {
  color: #afa384;
  text-decoration: none;
}
body .caja-de-registro a:hover {
  color: #afa384;
  text-decoration: underline;
}
body ::placeholder {
  color: #afa384;
}
body .caja-evento {
  width: 400px;
  background: rgba(0, 0, 0, 0.849);
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "calibri";
  color: #afa384;
  box-shadow: 7px 13px 37px #5d0f0f;
}
body .titulo-eventos {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "calibri";
  color: #5d0f0f;
}
body .evento {
  align-items: center;
  padding-bottom: 30px;
}
body .evento a {
  color: #afa384;
  text-decoration: none;
}
body .evento a:hover {
  color: #afa384;
  text-decoration: underline;
}
body .caja-noticia {
  width: 400px;
  background: rgba(0, 0, 0, 0.849);
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "calibri";
  color: #afa384;
  box-shadow: 7px 13px 37px #5d0f0f;
}
body .titulo-noticias {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "calibri";
  color: #5d0f0f;
}
body .noticia {
  align-items: center;
  padding-bottom: 30px;
}
body .noticia a {
  color: #afa384;
  text-decoration: none;
}
body .noticia a:hover {
  color: #afa384;
  text-decoration: underline;
}
body .pie {
  grid-area: pie;
  margin-top: 220px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

@media (max-width: 768px) {
  .grid {
    grid-template-rows: 50px 100px 230px auto auto auto 60px;
    grid-template-areas: "navbar navbar navbar" "head-logo empty head-botones" "banner banner banner" "color-cards color-cards color-cards" "bprecios bprecios bprecios" "sprecios sprecios sprecios" "pie pie pie";
  }
  .grid-registro .grid-contacto {
    grid-template-rows: 50px 100px auto 60px;
    grid-template-areas: "navbar navbar navbar" "empty logo empty" "box box box" "pie pie pie";
  }
  .grid-registro .grid-contacto .logo-head-2 {
    grid-area: logo;
  }
  .grid-registro .grid-contacto .box-registro {
    grid-area: box;
  }
  .grid-registro .grid-contacto .pie-de-pagina {
    grid-area: pie;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .grid {
    grid-template-rows: 50px 100px 230px auto auto auto 60px;
    grid-template-areas: "navbar navbar navbar" "head-logo empty head-botones" "banner banner banner" "color-cards color-cards color-cards" "bprecios bprecios bprecios" "sprecios sprecios sprecios" "pie pie pie";
  }
  .grid-registro .grid-contacto {
    grid-template-rows: 50px 100px auto 60px;
    grid-template-areas: "navbar navbar navbar" "empty logo empty" "box box box" "pie pie pie";
  }
  .grid-registro .grid-contacto .logo-head-2 {
    grid-area: logo;
  }
  .grid-registro .grid-contacto .box-registro {
    grid-area: box;
  }
  .grid-registro .grid-contacto .pie-de-pagina {
    grid-area: pie;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
