<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contactate con nosotros">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous">
</head>

<body>
<main class="grid-contacto">
  <header>

    <div class="logo-head-2">  <!-- Logo con enlace a la pagina principal -->
        <a href="../Index.html"> <img class="Logo" src="../media/img/Logo.png" alt="Logo">
    </a> 
    </div>

</header>

<nav class="navbar navbar-dark bg-dark fixed-top"> <!-- Navbar -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Noticias.html">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Eventos.html">Eventos</a>
              </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar un prodcuto..." aria-label="Search">
            <button class="btn btn-danger" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <div class="titulo-Contacto"> <!-- Titulo -->
    <h1>CONTACTO</h1>
</div>

<section class="caja-de-contacto"> <!-- Contenido de la pagina Contacto -->

    <div class="texto-de-contacto"> <!-- Texto que incluye un link al perfil de Instagram -->
        <p>
        Ante cualquier consulta, estamos para ayudarte.
    </p>
    <p>
        Podés mandarnos un mail usando el formulario de abajo.
    </p>
    <p>
        También podés seguirnos y escribirnos por <a href="#">Instagram</a>
    </p>
</div>

    <div class="contenido-de-contacto"> <!-- Incluye campos de relleno de Nombre/Correo E/Mensaje y el boton de Enviar Msj -->
       <div class="contenido-1">
        <input class="controles" type="text" name="nombres" placeholder="Su nombre" >
        <input class="controles" type="email" name="correo" placeholder="Correo electrónico" >
       </div> 
       <div class="contenido-2">
        <input class="controles" class="mensaje" type="text" name="mensaje" placeholder="Su mensaje" >
        <input class="btn" type="submit" value="Enviar Mensaje"  >
        </div> 
    </div>

   
</section>
<footer class="pie"> <!-- Footer-->
  <div class="container-fluid">

    <div class="row p-5 bg-dark text-white">

      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h3">HAKI PRICES</p>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5 mb-3">MENU</p>
        <div class="mb-2">
          <a class="text-secondary text-decoration-none" href="./Noticias.html">Noticias</a>
        </div>
        <div class="mb-2">
          <a class="text-secondary text-decoration-none" href="./Eventos.html">Eventos</a>
        </div>
        
        
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5 mb-3">LINKS</p>
        <div class="mb-2">
          <a class="text-secondary text-decoration-none" href="./Nosotros.html">Nosotros</a>
        </div>
        <div class="mb-2">
          <a class="text-secondary text-decoration-none" href="./Contacto.html">Contacto</a>
        </div>
        
                    
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5 mb-3">REDES SOCIALES</p>
        <div class="mb-2">
          <a class="text-secondary text-decoration-none fa-brands fa-facebook logor" href="https://www.facebook.com/profile.php?id=100091875286470">Facebook</a>
        </div>
        <div class="mb-2">
          <a class="text-secondary text-decoration-none fa-brands fa-twitter logor" href="https://twitter.com/HakiPrices">Twitter</a>
        </div>
                    
      </div>
    </div>
    

  </div>
</footer>

</main>
<script src="../js/bootstrap.bundle.js"></script>       
</body>
</html>