<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos-contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous">
</head>

<body>

    <header>

        <div class="logo-head-2">  <!-- Logo con enlace a la pagina principal -->
            <a href="../Index.html"> <img class="Logo" src="../media/img/Logo.png" alt="Logo">
        </a> 
        </div>

    </header>

    <main>

        <div class="titulo-Contacto"> <!-- Titulo -->
            <h1>CONTACTO</h1>
        </div>

        <section class="caja-de-contacto"> <!-- Contenido de la pagina Contacto -->

            <div class="texto-de-contacto"> <!-- Texto que incluye un link al perfil de Instagram -->
                <p>
                Ante cualquier consulta, estamos para ayudarte.
            </p>
            <p>
                Podés mandarnos un mail usando el formulario de abajo.
            </p>
            <p>
                También podés seguirnos y escribirnos por <a href="#">Instagram</a>
            </p>
        </div>

            <div class="contenido-de-contacto"> <!-- Incluye campos de relleno de Nombre/Correo E/Mensaje y el boton de Enviar Msj -->
               <div class="contenido-1">
                <input class="controles" type="text" name="nombres" placeholder="Su nombre" >
                <input class="controles" type="email" name="correo" placeholder="Correo electrónico" >
               </div> 
               <div class="contenido-2">
                <input class="controles" class="mensaje" type="text" name="mensaje" placeholder="Su mensaje" >
                <input class="btn" type="submit" value="Enviar Mensaje"  >
                </div> 
            </div>

           
        </section>

    </main>

    <footer class="pie-de-pagina">

        <div class="grupo-1">

            <div class="box">  <!-- Logo con enlace a la pagina principal -->
               <figure>
                 <a href="../Index.html">
                    <img class="logo-foot" src="../media/img/Logo.png" alt="Logo">
                 </a> 
               </figure>
            </div>

            <div class="box">
                <div class="menu">
                    <h2>Menu</h2>
                    <ul class="contenido-menu-foot-1"> <!-- Menú de navegacion compuesto de links a Productos/Noticias/Eventos/Cardlist-->
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Cardlist</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="/Views/Contacto.html">Contacto</a></li>
                        <li><a href="#">FAQ</a></li>
                     </ul>
                     
                </div>
                
            </div>

            <div class="box">
                
                <div class="red-social"> <!-- Links a las redes sociales Facebook/Instagram/Twitter -->
                    <h2>Redes Sociales</h2>
                    <a href="#" class="fa-brands fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                </div>
                
             </div>

           
    
        </div>
        

    </footer>
</body>
</html>