<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/estilos-registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous">
</head>

<body>

    <header>

        <div class="logo-head-2">  <!-- Logo con enlace a la pagina principal -->
            <a href="../Index.html"> <img  class="logo" src="../media/img/Logo.png" alt="Logo">
        </a> 
        </div>

    </header>

    <main> <!-- Contenido de la pagina Contacto -->

        <div class="titulo-registro">
            <h1>REGISTRO</h1>
        </div>

        <section class="caja-de-registro"> <!-- Incluye campos de relleno de Nombre/Apellido/Correo E/Telefono y Contraseña junto con un texto y enlace a la pagina de inicio de sesion -->
            
            <input class="controles" type="text" name="nombres" placeholder="Nombre/s" >
            <input class="controles" type="text" name="apellidos" placeholder="Apellido/s" >
            <input class="controles" type="email" name="correo" placeholder="Correo electrónico" >
            <input class="controles" type="tel" name="telefono" placeholder="Teléfono" >
            <input class="controles" type="password" name="password" placeholder="Contraseña" >
            <input class="btn" class="enviar" type="submit" value="Enviar"  >
            <p>¿Ya tienes cuenta? <a href="#">Ingresá</a></p> <!-- Texto que incluye link a la pagina de inicio de sesion -->

        </section>

    </main>

    <footer class="pie-de-pagina">

        <div class="grupo-1">

            <div class="box">  <!-- Logo con enlace a la pagina principal -->
               <figure>
                 <a href="../Index.html">
                    <img class="logo-foot" src="../media/img/Logo.png" alt="Logo">
                 </a> 
               </figure>
            </div>

            <div class="box">
                <div class="menu">
                    <h2>Menu</h2>
                    <ul class="contenido-menu-foot-1"> <!-- Menu de navegacion compuesto de links a Productos/Noticias/Eventos/Cardlist-->
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Cardlist</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="/Views/Contacto.html">Contacto</a></li>
                        <li><a href="#">FAQ</a></li>
                     </ul>
                     
                </div>
                
            </div>

            <div class="box">
                
                <div class="red-social"> <!-- Links a las redes sociales Facebook/Instagram/Twitter -->
                    <h2>Redes Sociales</h2>
                    <a href="#" class="fa-brands fa-facebook"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                </div>
                
             </div>

           
    
        </div>
        

    </footer>
</body>
</html>