$color_1: #ffffff;
$color_2: white;
$color_3: #afa384;
$color_4: #5d0f0f;
$color_5: rgba(0, 0, 0, 0.849);
$font-family_1: 'calibri';
$background-image: url(../media/img/fondo.jpg);
$background-color: rgba(0, 0, 0, 0.849);
$banner: url(../media/img/banner.jpg);


